@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&display=swap');
body{
  color: white;
  font-family: sans-serif;
  background-color: black;
}

.firstDiv{
  background-image: url('https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png');
  background-size: cover;
}
.netfilx{
  color:#e50914 ;
  font-family: 'Martel Sans', sans-serif;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 0px;
}
.Netflix{
  padding-right: 0px;
}
.langSign{
  text-align: right;
  margin-left:0px;
  padding-left: 0px;
}
select{
  background-color: transparent ;
  border: 1px solid white;
  color: white;
  padding: 5px 3px 5px 3px;
  margin-right: 15px;
  margin-top: 20px;
  border-radius: 0.3rem;
}
.signInBtn{
  background-color: red;
  border: none;
  color: white;
  padding: 5px 3px 5px 3px;
  margin-right: 10px;
  border-radius: 0.3rem;
}
.firstDivContent{
  padding-top: 150px;
  padding-bottom: 200px;
  text-align: center;
}
#email{
  line-height: 35px;
}
.firstDivContent>h1{
  font-size: 70px;
}
.firstDivContent>h5{
  font-size: 30px;
}
.firstDivContent>h6{
  font-size: 20px;
}
.SecToFifthDiv{
  text-align: center;
  border-top: 10px solid #222;
  border-top: 10px solid #222;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
}
.sixthDiv{
  background-color: black;
  border:10px solid #222;
  border-left: none;
  border-right: none;
  border-top: 10px solid #222;
  text-align: center;
  padding-top: 30px;
}
.faq{
  text-align: left;
  padding: 10px 50px 10px 15px;
  background-color:#303030 ;
  margin: 10px 20% 10px 20%;
  font-size: 25px;
  list-style: none;
}
li{
  list-style: none;
}
.footer{
  color: #6f6f70;
  margin-top: 40px;
  
}
option{
  background-color: transparent ;
  color: black;
}
.footerLan>select{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #6f6f70;
  color: #6f6f70;
  padding: 15px;
  width: 32%;
}




@media (max-width:426px){
  .firstDivContent>h1{
    font-size: 40px;
  }
  .faq{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }
  #email{
    size: 30px;
  }
}